.container-login {
  max-width: 350px;
}

.form-control {
  border-radius: 25px;
}

.submit-btn {
  width: 100px;
  height: 35px;
  background-color: $dark-green;
  color: $white;
  border-radius: 25px;
  align-content: center;
}
