.container-title-header {
	background-color: $dark-green;
	min-height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-header {
  text-align: center;
	inline-size: 280px;
	overflow-wrap: break-word;
	font-family: $text-font-koulen;
	color: $white;
	font-size: 35px;
}

.search-bar {
	width: 100%;
}

.btn {
	height: fit-content;
}

.checkbox {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.filter-trails:checked + label {
	background-color: $light-green;
	color: white;
}

.filter-trails {
	opacity: 0;
}
