
.container-title-header{
  background-color: $dark-green;
  height: 90px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items : center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title-header{
  font-family: $text-font-koulen;
  color: $white;
  font-size: 35px;
}
