<div class="container font-nav" data-controller="navbar">
    <input id="toggle" name="toggle" type="checkbox" data-navbar-target="button" data-action="change->navbar#backgroundNav">
    <!-- This checkbox will give us the toggle behavior, it will be hidden, but functional -->

    <!-- IMPORTANT: Any element that we want to modify when the checkbox state changes go here, being "sibling" of the checkbox element -->

    <!-- This label is tied to the checkbox, and it will contain the toggle "buttons" -->
    <label class="toggle-container" for="toggle"  >
        <!-- If menu is open, it will be the "X" icon, otherwise just a clickable area behind the hamburger menu icon -->
        <span class="button button-toggle"></span>
    </label>
        <!-- The nav menu -->
        <nav class="nav">
            <a class="nav-item" href="">Home</a>
            <a class="nav-item" href="">Profile</a>
            <a class="nav-item" href="">Logout</a>
        </nav>

</div>
