<h1>Hike Show Page is Here</h1>

<h2>this is another title</h2>

<h3>this is a massive title</h3>

<%= simple_form_for [ @hike ] do |f| %>
  <% if @hike.started_at == nil %>
    <%= f.submit "Start Route", class: "button-show", id:"btn-review-show" %>
  <% elsif @hike.ended_at == nil %>
    <%= f.submit "End Route", class: "button-show", id:"btn-review-show" %>
  <% else %>
    Ended
  <% end %>
<% end %>
