* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Koulen", cursive;
}

.card-container-main {
  max-width: 394px;
  height: 280px;
  background-image: url("https://res.cloudinary.com/rubberd/image/upload/v1654066639/offthecliff/15.2_ur0zbb.jpg");
  background-size: cover;
  box-shadow: 0px 8px 14px -2px rgba(30,30,30,0.5);
  border-radius: 10px;
  background-position: center;
}

.card-container-inner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.77%, rgba(0, 0, 0, 0.4) 45.83%, #000000 100%);
  border-radius: 10px;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: flex-end;
  padding: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description {
  margin-bottom: 20px;
  text-align: justify;
}

.card-information {
  display: flex;
}

i {
  padding-top: 4px;
  padding-right: 2px;
  color: white;
}

.card-title {
  font-size: 36px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.link-title-trail-index {
  text-decoration: none;
  color: $white;
}

p {
  color: white;
  font-family: oswald;
  font-size: 16px;
  font-weight: 200;
}

.card-information-time {
  display: flex;
  padding-right: 20px;
}

// ROFL

/* TEST */
