.info {
	background-color: hwb(0 99% 0%);
	border-radius: 10px;
	box-shadow: 10px;
	padding: 10px;
	margin: 15px;
}

.trail-show-card-container {
	margin-top: 20px;
	// padding: 10px;
}

.container-button-show {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.location-info {
	text-align: center;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#heart {
	font-size: 25px;
}

#heart:focus {
	color: $dark-green;
}

#arrow {
	font-size: 25px;
}

.third {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}
